<h1>Eliminar Producto</h1>

<form id="deleteProductForm">
    <input type="text" id="productId" placeholder="ID del producto" required>
    <button type="button" id="btnEliminar">Eliminar</button>
</form>

<p id="message"></p>

<script src="js/index.js"></script>
